---
layout: layout/base
---
<header class="cta-header">
  <div class="cta-header__inner">
    {% include 'content-heading.liquid' %}
    {%- if summary -%}
      <p class="cta-header__intro">{{ summary | markdownify: 'inline' }}</p>
    {%- endif -%}
  <div>
</header>

<div class="content-wrapper__inner">
  {{ content }}
</div>
