/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* Document
   ========================================================================== */

html {
  box-sizing: border-box;
  font-size: var(--font-size-lg);

  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
  -ms-text-size-adjust: 100%; /* stylelint-disable-line property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%; /* stylelint-disable-line property-no-vendor-prefix */
}

@media (--viewport-m) {

  html {
    font-size: var(--font-size-xl);
  }
}

@media (--viewport-l) {

  html {
    font-size: var(--font-size-2xl);
  }
}

body {
  box-shadow: inset 0 var(--spacing-32) 0 0 var(--color-gray-200);
  color: var(--color-gray-800);
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height-normal);
}

/* Grouped stylings
   ========================================================================== */

h3,
h4,
b,
strong,
dt {
  font-weight: var(--font-weight-semibold);
}

h3,
h4,
pre,
code,
blockquote p,
cite {
  hyphens: none;
}

/* stylelint-disable-next-line no-descending-specificity */
p,
ul,
ol,
dl,
blockquote,
figure,
pre,
hr {
  margin-bottom: var(--spacing-6);
}

/* stylelint-disable-next-line no-descending-specificity */
p,
ul,
ol,
dl {
  /**
        * Read http://clagnut.com/blog/2395/ for more info about the
        * `hyphenate-*` properties.
        *
        * For now these properties are still too new for the tools we are using:
        *
        *   - Autoprefixer doesn’t prefix them yet (see https://github.com/postcss/autoprefixer/issues/826)
        *   - csstree/validator complains, although these are valid CSS properties.
        *   - On caniuse.com you still can’t see info about these properties
        *     (although it’s already in discussion, see https://github.com/Fyrd/caniuse/issues/2155)
        *
        * The `hyphenate-*` properties are already supported by IE and Edge, and
        * support for other browsers will grow with time. Perfect example of
        * progressive enhancement.
        */

  /* stylelint-disable csstree/validator */
  -webkit-hyphenate-limit-after: 3; /* legacy */
  -webkit-hyphenate-limit-before: 3; /* legacy */
  -webkit-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-last: always;
  -moz-hyphenate-limit-last: always;
  -ms-hyphenate-limit-last: always;
  hyphenate-limit-last: always;
  -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphenate-limit-zone: 8%;
  hyphenate-limit-zone: 8%;
  /* stylelint-enable csstree/validator */
  hyphens: auto;
}

@media (--viewport-xl) {

  p,
  ul,
  ol,
  dl {
    hyphens: none;
  }
}

pre,
code,
mark,
ins {
  color: var(--color-black);
}

/**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */

pre,
code {
  background: none;
  font-family: var(--font-family-mono);
  font-size: 1em; /* 2 */
  overflow-wrap: normal;
  tab-size: 4;
  text-align: left;
  text-shadow: 0 1px var(--color-white);
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

pre::selection,
pre ::selection,
code::selection,
code ::selection {
  background: var(--color-blue-200);
  text-shadow: none;
}

pre,
:not(pre) > code,
blockquote {
  background-color: var(--color-gray-200);
}

pre,
blockquote {
  padding: var(--spacing-3);
}

pre {
  overflow: auto;
}

:not(pre) > code, /* inline code */
mark,
del,
ins {
  padding: var(--spacing-1);
}

/* inline code */
:not(pre) > code {
  white-space: normal;
}

/* Grouping content
   ========================================================================== */

main {
  display: block;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  border: 0;
  border-bottom: 1px solid var(--color-gray-500);
  box-sizing: content-box; /* 1 */
  height: 0;
  overflow: visible; /* 1 */
  text-align: left;
  width: 33.33333%;
}

blockquote {
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}

figcaption {
  color: var(--color-gray-600);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tight);
  margin-top: var(--spacing-3);
}

figcaption a {
  color: inherit;
}

/* Headings
   ========================================================================== */

h1,
h2 {
  font-weight: var(--font-weight-semibold);
}

h2 {
  font-size: var(--font-size-2xl);
  margin-bottom: var(--spacing-2);
}

@media (--viewport-xl) {

  h2 {
    font-size: var(--font-size-3xl);
  }
}

h3,
h4 {
  line-height: var(--line-height-tight);
  margin-bottom: var(--spacing-4);

  /* Little optical adjustment to counter-balance tighter line height. */
  padding-top: var(--spacing-1);
}

h3 {
  font-size: var(--font-size-xl);
}

h4,
h5 {
  font-size: var(--font-size-base);
}

h5 {
  font-weight: var(--font-weight-normal);
}

/* Lists
   ========================================================================== */

ul,
ol {
  list-style-position: outside;
  margin-left: var(--spacing-6);
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

dd {
  margin-left: var(--spacing-3);
}

dd + dt {
  margin-top: var(--spacing-3);
}

/* Text-level semantics
   ========================================================================== */

/* stylelint-disable-next-line no-descending-specificity */
a {
  color: var(--color-blue-600);
}

a:focus,
a:hover {
  text-decoration: none;
}

a:focus {
  outline: 5px dashed var(--color-blue-600);
  outline-offset: 2px;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  cursor: help;
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: var(--line-height-zero);
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

mark {
  background-color: var(--color-yellow-200);
}

del {
  background-color: var(--color-red-200);
}

ins {
  background-color: var(--color-green-200);
  text-decoration: none;
}

/* Embedded content
   ========================================================================== */

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}
