*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-size: 100%;
  @apply .m-0 .p-0;
}

/* Document
   ========================================================================== */

html {
  box-sizing: border-box;
  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Sections
   ========================================================================== */

main {
  @apply .bg-white;
}

@media screen and (min-width: theme('screens.lg')) {
  main {
    @apply .bg-transparent;
    background-image: linear-gradient(-90deg, theme('colors.white') 50vw, transparent 0);
  }
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  @apply .border-0 .border-b .border-solid .border-gray-500 .h-0 .w-1/3 .overflow-visible .text-left;
}

blockquote {
  @apply .italic;
}

blockquote p:last-child {
  @apply .mb-0;
}

figcaption {
  @apply .mt-3 .leading-tight .text-xs .text-gray-600;
}

figcaption a {
  @apply .text-inherit;
}

/* Headings
   ========================================================================== */

h3,
h4 {
  /* Little optical adjustment to counter-balance tighter line height. */
  @apply pt-1;
}

h3 {
  @apply .text-xl;
}

h4,
h5 {
  @apply .text-base;
}

h5 {
  @apply .font-normal;
}

/* Lists
   ========================================================================== */

ul ul,
ul ol,
ol ol,
ol ul {
  @apply mb-0;
}

ul,
ol {
  @apply .ml-6 .list-outside;
}

dd {
  @apply .ml-3;
}

dd + dt {
  @apply .mt-3;
}

/* Text-level semantics
   ========================================================================== */

a {
  @apply .text-blue-600 .bg-transparent;
}

a:focus,
a:hover {
  @apply .no-underline;
}

a:focus {
  outline: 5px dashed theme('colors.blue.600');
  outline-offset: 2px;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  cursor: help;
  @apply .underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  @apply .relative .align-baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

mark {
  @apply .bg-yellow-200;
}

del {
  @apply .bg-red-200;
}

ins {
  @apply .no-underline .bg-green-200;
}

/* Embedded content
   ========================================================================== */

img {
  @apply .border-none .h-auto .max-w-full;
}

/* Grouped stylings
   ========================================================================== */

h3,
h4,
b,
strong,
dt {
  @apply .font-semibold;
}

h3,
h4  {
  @apply .leading-tight .mb-4;
}

h3,
h4,
pre,
code,
blockquote p,
cite {
  hyphens: none;
}

p,
ul,
ol,
dl,
blockquote,
figure,
pre,
hr {
  @apply .mb-6;
}

p,
ul,
ol,
dl {
  /**
     * Read http://clagnut.com/blog/2395/ for more info about the
     * `hyphenate-*` properties.
     *
     * For now these properties are still too new for the tools we are using:
     *
     *   - Autoprefixer doesn’t prefix them yet (see https://github.com/postcss/autoprefixer/issues/826)
     *   - csstree/validator complains, although these are valid CSS properties.
     *   - On caniuse.com you still can’t see info about these properties
     *     (although it’s already in discussion, see https://github.com/Fyrd/caniuse/issues/2155)
     *
     * The `hyphenate-*` properties are already supported by IE and Edge, and
     * support for other browsers will grow with time. Perfect example of
     * progressive enhancement.
     */

    -webkit-hyphenate-limit-after: 3; /* legacy */
    -webkit-hyphenate-limit-before: 3; /* legacy */
    -webkit-hyphenate-limit-chars: 6 3 3;
    -moz-hyphenate-limit-chars: 6 3 3;
    -ms-hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-chars: 6 3 3;
    -webkit-hyphenate-limit-last: always;
    -moz-hyphenate-limit-last: always;
    -ms-hyphenate-limit-last: always;
    hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-lines: 2;
    hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-zone: 8%;
    -moz-hyphenate-limit-zone: 8%;
    -ms-hyphenate-limit-zone: 8%;
    hyphenate-limit-zone: 8%;

    hyphens: auto;
}

@media screen and (min-width: theme('screens.lg')) {
  p,
  ul,
  ol,
  dl {
    hyphens: none;
  }
}

pre,
code,
mark,
ins {
  @apply .text-black;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre,
code {
  background: none;
  @apply .font-mono .text-left .break-normal .whitespace-pre;
  font-size: 1em; /* 2 */
  tab-size: 4;
  text-shadow: 0 1px theme('colors.white');
  word-break: normal;
  word-spacing: normal;
}

pre::selection,
pre ::selection,
code::selection,
code ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

pre,
:not(pre) > code,
blockquote {
  @apply .bg-gray-200;
}

pre,
blockquote {
  @apply .p-3;
}

pre {
  @apply .overflow-auto;
}

:not(pre) > code, /* inline code */
mark,
del,
ins {
  padding: .125rem;
}

/* inline code */
:not(pre) > code {
  @apply .whitespace-normal;
}
